@{
    ViewData["Title"] = "Home Page";
}

<h2>Software Application Management</h2>
<section>
    <h3 class="custom-h3">Welcome!</h3>
    <p>
        Welcome to the Software Application Management website, on this website you can view all Software Applications, which Operating Systems support those applications.
    </p>
    <p>
        Furthermore, you can view the Developers who created said software applications and also the ratings developers gave to their own software as well as software
        applications of other developers.
    </p>
    <p>
        Last but not least, you can also add Software Applications, Operating Systems and link them.
    </p>
    <a href="#" class="other-links">Niels Van Steen</a>
</section> 