@{
    ViewBag.Title = "Developers";
}

<h2>Developers</h2>

<article id="developersContainer">
    
</article>

<button class="btn btn-success" id="loadDevelopers">Refresh Developers</button>

@section Scripts {
    <script src="~/js/api/developers/index.js" defer></script>
}

