@using SoftwareApplicationManager.BL.Domain
@model System.Collections.Generic.IEnumerable<SoftwareApplicationManager.BL.Domain.SoftwareApplication>
@{
    //ViewData["Title"] = "SoftwareApplication";
    ViewBag.Title = "Software Application | Overview";
}

<h2>Software Applications</h2>
<partial name="_Overview"/>